@import "variables";

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: $fs_main;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  min-width: 320px;
  .dropdown-menu {
    min-width: 0 !important;
  }
}

/*
  Colors
 */
.blue {
  color: $clr_blue;
}
.dark-gray {
  color: $clr_dark_gray;
}

/*
  Header
 */

header {
  padding-top: 10px;

  a > img {
    padding-top: 5px;
  }

  .desc {
    padding: 0 20px;
  }

  address {
    margin-bottom: 15px;
    line-height: 1.2;
    a {
      color: $clr_black;
      &:hover {
        text-decoration: none;
      }
      span {
        font-size: $fs_main;
      }
      font-size: $fs_20;
    }
  }

  .btn-basket {
    background-color: #f6f6f6;
    text-align: left;
    margin-top: 5px;
    padding: 12px 24px;
    border-radius: 4px;
    img {
      margin-right: 10px;
    }
  }
}

.menu{

  background-color: $clr_blue;
  ul{
    li > a {
      color: $clr_white;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 2px solid transparent;
      &:hover {
        background: none;
        border-bottom: 2px solid $clr_orange;
      }
    }
  }
  .search-wrapper {
    padding: 6px 0;
    input,
    button {
      vertical-align: middle;
      display: inline-block;
      line-height: 20px;
      border: none;
      height: 30px;
    }
    input {
      padding: 0 10px;
    }
    button {
      padding: 5px 8px;
      background: $clr_orange;
      color: $clr_white;
      top: 0;
      left: -3px;
    }
  }
}

.navbar-toggle {
  border: 1px solid $clr_white;
  .icon-bar {
    background: $clr_white;
  }
}

/*
  !Header
 */

/*
  jumbotron
 */

.jumbotron {
  background: url(../images/bg_geader.jpg) center center no-repeat;
  background-size: cover;
  padding: 30px 0;
  max-height: 400px;
  margin-bottom: 0;

  .btn-price-list {
    color: $clr_white;
    background: none;
    border: solid 3px $clr_white;
    border-radius: 40px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 40px;
    margin-top: 30px;
    margin-right: 70px;
    text-decoration: none;
    &:hover {
      color: $clr_orange;
      border-color: $clr_orange;
    }
  }

  .tittle-big {
    margin-top: 10px;
    width: 568px;
    height: 185px;
  }
  .best-pr-wrapper {
    margin-top: 10px;
    position: relative;

    .best-pr {
      position: absolute;
      top: 130px;
      left: 50px;
      word-wrap: break-word;
      .image {
        border: 1px solid rgba($clr_dark_gray,0.5);
        padding: 30px;
        img {
          max-width: 100%;
        }
      }
      .price {
        display: inline-block;
        margin: 2px 0;
        background: $clr_green;
        padding: 8px 15px;
        color: $clr_white;
        border-radius: 20px;
        font-weight: bold;
      }
    }
  }
}

/*
  !jumbotron
 */

/*
  Cat slider
 */



.cat-slider-wrapper {
  .marks {
    font-size: $fs_small;
    color: $clr_black;
    font-weight: 600;
    width: 100px;
    display: inline-block;
    vertical-align: middle;

  }

  a {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
    img {
      height: 71px;
      width: 71px;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
}

/*
  !Cat slider
 */

/*
  Main catalog
 */

.catalog-wrapper {
  margin: 20px 0;
  .catalog {
    background: $clr_orange;
    color: $clr_white;
    border: none;
  }
  .list-group {
    a {
      border: 1px solid #ddd;
      border-bottom: none;
      transition: all 0.3s ease;
    }
    a:last-child {
      border-bottom: 1px solid #ddd;
    }
    a:hover {
      color: $clr_white;
      background: $clr_orange;

    }
  }
  .products {
    h2 {
      font-size: 17px;
      color: $clr_blue;
      font-weight: normal;
      text-shadow: 0 1px 0 #fff;
      position: relative;
      margin-bottom: 40px;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: $clr_blue;
        bottom: -10px;
        left: 0;
      }
      &:after {
        content: "";
        position: absolute;
        width: 11px;
        height: 11px;
        background: $clr_blue;
        border-radius: 100%;
        bottom: -15px;
        left: 100%;
      }
    }
    .product {
      display: inline-block;
      position: relative;
      border: 1px solid rgba($clr_dark_gray, 0.3);
      background: $clr_light_gray;
      padding: 10px 30px;
      margin-bottom: 20px;
      img {
        display: block;
        margin: 5px auto 10px;
      }
      .form-price {
        margin-top: 5px;
        .price,
        .btn-buy {
          color: $clr_white;
          vertical-align: top;
          display: inline-block;
        }
        .price {
          background: $clr_orange;
          padding: 10px 20px;
          text-align: center;
          font-weight: bold;
          font-size: $fs_bigger;
          width: 75%;
        }
        .btn-buy {
          background: $clr_blue;
          padding: 11px 15px;
          border-radius: 0;
          border: none;
          margin-left: -4px;
          width: 24%;
        }
      }
    }
  }
}

/*
  !Main catalog
 */


/*
  Payments
 */
.payments {
text-align: center;
  list-style: none;
  padding: 0; }
  .payments li {
   background: url(../images/css_sprites.png) no-repeat;
  display: inline-block;
    width: 83px;
    height: 44px;
    cursor: pointer; }
  .payments .visa {
    background-position: -83px 0;
    width: 60px; }
  .payments .mastercard {
   background-position: -142px 0;
  width: 60px; }
  .payments .maestro {
    background-position: -199px 0;
    width: 60px; }
  .payments .cirrus {
    background-position: -258px 0;
    width: 60px; }
  .payments .paypal {
    background-position: -313px 0;
    width: 60px; }
  .payments .western-union {
    background-position: -376px 0;
    width: 60px; }
  .payments .visa-electron {
    background-position: -433px 0;
 width: 60px; }
  .payments .skrill {
    background-position: -493px 0;
    width: 60px;
  }

  /*
  !Payments
   */

.card {
  padding-bottom: 5px;
  border: 1px double  #cccccc;
  margin-bottom: 5px;
}

.card-text {
  padding: 5px;

}

/*
    About
   */
.logo-down {
  margin-top: 10px;
  text-align: center;
}
  /*
  !About
   */

  /*
  Footer
 */
.footer-left {
  text-align: center;
}

.footer-links {
  float: right;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

  /*
  !Footer
 */

/*
Also
 */
.also {
  margin-left: 100px;
  display: inline-block;
  text-align: center;
}

.down-header {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}


.btn-watch {
  background-color: $clr_green;
  color: $clr_white;
  border-radius: 30px;
  padding: 11px 20px 11px 20px;
  text-decoration: none;
  margin-top: 190px;
  &:hover {
    color: $clr_black;
    background-color: $clr_white;
  }
}
.tata {
  background-image: url(../images/car-1.png);
  height:245px;
  width: 318px;
  margin-left: -30px;
}
.i-van {
  background-image: url(../images/car-2.png);
  height:245px;
  width: 318px;
  margin-left: -30px;
}
.jac {
  background-image: url(../images/car-3.png);
  height:245px;
  width: 318px;
  margin-left: -30px;
}
.chery {
  background-image: url(../images/car-4.png);
  height:245px;
  width: 318px;
  margin-left: -30px;

}


/*
Inside
 */

.inside-price {
  font-size: 36px;
  white-space: nowrap;
  background-color: #FCFCD5;
  color: #009600;
  font-weight: 700;
  width: 265px;
  height: 49px;
  padding: 5px 21px 5px 28px;
  border-radius: 10px;
}

.inside-btn-buy {
  color: $clr_white;
  background-color: $clr_blue;
  width: 160px;
  height: 53px;
  font-size: 30px;
  border-radius: 10px;
  &:hover {
    decoration: none;
    color: $clr_white;
  }
}

.inside-articul {
  font-size: 16px;
  padding: 5px;
  span {
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px;
    background-color: #cccccc;
    color: $clr_white
  }
}

.annotation {
  color: $clr_dark_gray;
  border: 1px solid #F1F1F1;;
  padding: 10px 15px 10px 10px;
  width: auto;
}

.description {
  color: #cccccc;
  font-size: 12px;
}

.exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
  color: $clr_black;
  &:hover {
    background-color: $clr_orange;
  }
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: $clr_orange;
    color: $clr_white;
}

.exTab3 .tab-content {
  color : black;
  background-color: $clr_white;
  border-top: 2px solid $clr_orange;
  border-bottom: 2px solid $clr_orange;
  padding : 5px 15px;
}

/*
Form for comment
 */
.comment {
  display: block;
  position: absolute;
  .btn {
    margin-top: 10px;
    width: 100px;
    height: 30px;
  }
}
.writer {
  text-align: left;
  width: auto;
  height: 106px;
  margin-bottom: 10px;
}
.name_name {
  text-align: left;
}
.name {
  margin: 5px 0;
  width: 260px;
  height: 22px;
}
.captcha {
  margin: 5px 0;
  width: 160px;
  height: 40px;
}
.captcha-img {
  width: 91px;
  height: 43px;
  margin-left: 50px;
}
    /*
    !Form
     */
/*
!Inside
 */

/*
CATEGORY
 */
.introduce {
  text-align: justify;
  font-size:medium;
  font-family: "Times New Roman";
}

.sort {
  text-align: right;
}
.sorted {
  text-decoration: underline;
}

.category-price {
  color: $clr_white;
  vertical-align: top;
  display: inline-block;
  background: $clr_orange;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  font-size: $fs_bigger;
  width: 75%;
}


@import "media";