$clr_blue:       #318bb5;
$clr_dark_gray:  #646566;
$clr_light_gray: #f6f6f6;
$clr_orange:     #EFA700;
$clr_green:      #168602;
$clr_pink:       #F03770;
$clr_white:      #ffffff;
$clr_black:      #000000;

$fs_small: 12px;
$fs_main:  14px;
$fs_bigger:  16px;
$fs_20:    20px;